{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<div>
    <h1 class="text-center">📚 BookRenter</h1>
    <div id="home">

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('home') }}
{% endblock %}
